interfaces {
    fxp0 {
        unit 0 {
            family inet {
                filter {
                    input manager-ip;
                }
            }
        }
    }
}
policy-options {
    prefix-list manager-ip {
        {% for server in host['mgmt_svrs'] %}
        {{ server }}/32;
        {% endfor %}
    }
}
firewall {
    filter manager-ip {
        term block_non_manager {
            from {
                source-address {
                    0.0.0.0/0;
                }
                source-prefix-list {
                    manager-ip except;
                }
                protocol tcp;
                destination-port [ ssh https http ];
            }
            then {
                discard;
            }
        }
        term accept_everything_else {
            then accept;
        }
    }
}