
ip access-list SSH_MGMT_SVRS
{% for server in host['mgmt_svrs'] %}
  {{ loop.index }} permit tcp {{ server }}/32 {{ host['nornir_host'] }}/32 eq 22
{% endfor %}
  999 deny ip any any log

line vty
  access-class SSH_MGMT_SVRS in